.edit-delete-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.your-todos-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.your-todos-container {
  margin-left: 10px;
}

.loader-gif {
  height: 100px;
  width: 180px;
}

.loader-gif-container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 align-self: center;
}